.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: lightseagreen;
  height: 150px;
}

h1 {
  font-size: 3em;
  align-content: center;
}
